*{
    margin: 0;
    padding: 0;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position:relative
}


.home{
    padding: 10px;
}
.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.library{
    min-height: 80vh;
    position: relative;
    bottom: 0;
}

.heading{
    display: flex;
    gap: 15px;
    width: 10%;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 35, 35);
    
}
.header *{
padding: 5px;
}
.spotifyplaylists{
    padding: 16px;
}
.cardcontainer{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    margin: 10px;
    overflow-y: scroll;
    max-height: 70vh;
}
 .card{
    width: 200px;
    padding: 10px;
    background-color: rgb(3, 3, 3);
    border-radius: 5px;
    position: relative;
    

}
.card img{
    width:100%;
    object-fit: contain;
   
}
.card > *{
    padding-top: 10px;
}
.signupbtn{
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.signupbtn:hover{
    color: grey;
    font-size: 17px;
    
}
.loginbtn{
    background-color:white;
    padding: 6px;

    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;


}
.loginbtn:hover{
    font-weight: bold;
    cursor: pointer;
    color: grey;
    font-size: 16px;
    
}

.playbar{
    position:fixed;
    bottom: 0;
    border-radius: 10px;
    width: 70vw;
    padding: 16px;
    bottom: 30px;
    filter: invert(1);
    background-color: rgba(237, 230, 230, 0.853);
    height: 40px;
    
}
.songbuttons{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:12px;
}
    .songlist{
        height:644px;
        overflow: auto;
        margin: 44px 0;
    }

.songlist ul{
padding: 0 12px;


    
}
.songlist ul li{
    list-style:none;
    list-style-type:decimal;
    display: flex;
    gap: 16px;
    cursor: pointer;
padding: 12px 0;
border: 1px solid white;
margin: 12px 0;
padding: 13px;
border-radius: 5px;

}
.songlist .info{
    width: 344px;
    font-size: 13px;
}
.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}
.under{
    text-decoration: none;
    color: white;
    
}
.seekbar{
    border: 2px solid rgb(70, 22, 22);
    height: 2px;
    width: 98%;
    position:absolute;
    bottom: 0;
    border-radius: 10px;
    


}
.circle{
    width: 13px;
    height: 13px;
background-color: black;
    position: relative;
    bottom: 7px;
    border-radius: 13px;
    left: 0%;
    transition: left 0.5s;

}

